body{
    background-color: #DCE2DC;
    position: relative;
    min-height: 100vmax;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #678F70;
    height: 60px;
}

.nav-brand{
    margin-left: 30px;
    margin-top: 0;
}


.link-home{
    color: #FFFBFB;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

.kategori{
    background-color: #678F70;
    color: #FFFBFB;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
    border: none;
    font-size: 16px;
}

.search{
    width: 500px;
    border-radius: 12px;
    height: 30px;
    background-color: #D2D2D2;
    border: none;
    padding-left: 15px;
}

.nav-search i{
    position: absolute;
    top: 30px;
    right: 190px;
    color: darkgray;
}

.keranjang{
    margin-right: 30px;
    margin-top: 5px;
}

.link-login{
    color: #FFFBFB;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.promo1{
    position: absolute;
    left: 60px;
    top: 130px;
    width: 800px;
}

.promo2{
    left: 900px;
    top: 120px;
    position: absolute;
}

.promo2 img{
    width: 400px;
    padding-top: 10px;
}

.recomend{
    position: absolute;
    top: 550px;
    left: 60px;
    color: #595959;
    font-family: Verdana;
}

.card1 .card{
    position: absolute;
    border-style: none;
    left: 60px;
    top: 600px;
    background-color: #D2D2D2;
}

.card1 img{
    width: 150px;
    margin-left: 45px;
}

.card1 h5{
    font-family: 'Times New Roman', Times, serif;
}

.card1 p{
    font-weight: bold;
}

.card2 .card{
    position: absolute;
    border-style: none;
    left: 310px;
    top: 600px;
    background-color: #D2D2D2;
}

.card2 img{
    width: 150px;
    margin-left: 45px;
}

.card2 h5{
    font-family: 'Times New Roman', Times, serif;
}

.card2 p{
    font-weight: bold;
}

.card3 .card{
    position: absolute;
    border-style: none;
    left: 560px;
    top: 600px;
    background-color: #D2D2D2;
}

.card3 img{
    width: 150px;
    margin-left: 45px;
    height: 225px;
}

.card3 h5{
    font-family: 'Times New Roman', Times, serif;
}

.card3 p{
    font-weight: bold;
}

.card4 .card{
    position: absolute;
    border-style: none;
    left: 810px;
    top: 600px;
    background-color: #D2D2D2;
}

.card4 img{
    width: 150px;
    margin-left: 45px;
    height: 225px;
}

.card4 h5{
    font-family: 'Times New Roman', Times, serif;
}

.card4 p{
    font-weight: bold;
}

.card5 .card{
    position: absolute;
    border-style: none;
    left: 1060px;
    top: 600px;
    background-color: #D2D2D2;
}

.card5 img{
    width: 150px;
    margin-left: 45px;
    height: 248px;
}

.card5 h5{
    font-family: 'Times New Roman', Times, serif;
}

.card5 p{
    font-weight: bold;
}

footer{
    background-color: #678F70;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
}

.copyright{
    font-size: 13px;
    color: #FFFBFB;
    margin-top: 8px;
}

.moreText {
    display: none;
}

.text.show-more .moreText {
    display: inline;
}

.read-more-btn {
    color: #0000;
    color: rgba(0, 0, 0, 0.5);
    font-weight:500 ;
}

.read-more-btn:hover {
    color: #0000;
    color: rgba(0, 0, 0, 1);
}

.text.show-more .dots {
    display: none;
}

.detail-nav {
    margin-left: -8px;
    margin-bottom: -18px;
}

.kotak {    
    padding: 1rem;
    width: auto;
    background-color: #E8E8E8;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.4);
    border-radius: 8px;
}

.btnKeranjang {
    color: #FFF8F8;
    padding: 10px;
    border: none;
    background-color: #8FA093;
    border-radius: 25px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    opacity: 0.8;
    transition: 0.2s;
}

.btnKeranjang:hover {
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.2));
    opacity: 1;
}

.btnBeliSekarang {
    color: #FFF8F8;
    padding: 10px;
    border: none;
    background-color: #678F70;
    border-radius: 25px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    opacity: 0.8;
    transition: 0.2s;
}

.btnBeliSekarang:hover {
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.2));
    opacity: 1;
}

.kotak .plus {
    border: solid black;
    margin-bottom: 10px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.2s;
}

.kotak .plus:hover {
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    opacity: 1;
}

.kotak .mines {
    border: solid black;
    margin-bottom: 10px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.2s;
}

.kotak .mines:hover {
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    opacity: 1;
}

.value {
    font-weight: bold;
}

.tableDetail .head .one{
    padding-right: 10rem !important;
}

.tableDetail .head .two{
    padding-bottom: 20px;
}

.diskusi .namaBukuDiskusi {
    color: #6E716E;
}

.kotakDiskusi {
    padding: 8px;
    width: auto;
    background-color: #E8E8E8;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.discuss-logo {
    width: 60px;
    height: 60px;
}

.diskusi p {
    margin-top: 10px;
    font-weight: 500;
}

.diskusi button {
    border: none;
    background-color: #80B5e6;
    color: #ffffff;
    border-radius: 30px;
    margin: 10px;
    margin-right: 5px;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.4);
    opacity: 0.8;
    transition: 0.2s;
}

.diskusi button:hover {
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.1));
    opacity: 1;
}

.diskusiBox {
    background-color: #ededed;
    padding: 1rem;
    width: auto; 
    border-right: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
    border-radius: 2px;
}

.komentar-profile {

}

.diskusiBox p {
    color: #282828;
    margin-left: 15px;

}

.diskusiBox p span {
    color: #ababab;
}

.diskusiBox .p2 {
    margin-top: -40px;
    margin-bottom: auto;
}

.diskusiBox.reply{
    background-color: #e8e8e8;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
}

.diskusiBox.reply p {
   margin-left: -10px;

}